nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}
nav ul li {
    flex-grow: 1;
    text-align: center;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #575757;
}

.profile-picture {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;


}

.nav-bar{
    width: 50%;
    margin-left: auto;
}

body {
    font-family: 'Assistant', sans-serif;
  }